#kheader, #kfooter{
    display: flex;
}

@font-face {
    font-family: 'Lato';
    src: url('lato-bold.woff2') format('woff2'),
         url('lato-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('lato-regular.woff2') format('woff2'),
         url('lato-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}

*{
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #333;
}

header, footer{
    height: 100px;
}

#naglowek1, #stopka1{
    width: 30%;
}

#naglowek2, #stopka2{
    width: 70%;
}

main{
    background-color: #E0F2F1;
    padding: 100px;
}

section{
    height: 90px;
    overflow: hidden;
}

.miniatury{
    height: 90px;
}

li{
    text-align: left;
}

span{
    padding-left: 30px;
}
span:nth-child(2){
    font-size: 200%;
}